@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form {
    @apply flex items-center flex-col justify-center w-full max-w-[400px] p-3 bg-orange-300 rounded-[24px] gap-5;
  }

  .field {
    @apply flex flex-col w-full max-w-[400px] px-4 py-2  rounded-2xl text-gray-800 font-semibold bg-orange-200 text-center gap-2;
  }

  .input {
    @apply w-full py-2 px-8 rounded-full bg-orange-100 outline-none;
  }

  .errorMessage {
    @apply text-red-600;
  }
}

body {
  background-color: #ffe2abd7;
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}
